
.menus {
    /* background-color: #001C31; */
    height: 91vh;
}

.list a {
    /* background-color: #5E72E4; */
    color: black;

}

.tabs a {
    color: #DFBC7A;
}


/* menu list */


/* profile */

